/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: steelfish;
  font-family: 'Poppins', sans-serif;
  src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

/*------------
Styling
------------*/
#mainHeader .navbar {
  margin-bottom: 0;
}

#mainHeader .navbar .navbarHome {
  display: none;
}

.wrapperContent{
  margin-bottom: 6rem;
}

.accordion-button:not(.collapsed){
  color: #3E3C3C;
  background-color: #C4C4C4;
}

.accordion-button:focus{
  border-color: #3E3C3C;
  box-shadow: none;
}

.accordion-button{
  background-color: #C4C4C4;
  font-size: 14px;
  font-weight: 450;
  height: 40px;
}

.accordion-button:not(.collapsed)::after{
background-image: url('../../../assets/img/right-chevron.svg');
}

.form-label{
  font-size: 12px;
}

@media screen and (min-width: 0px) {

  .imgProfil img{
      width: 50%;
      border-radius: 50%;
      margin-bottom: 1rem;
  }

  td{
      font-size: 12px;
  }
}
