/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: steelfish;
  font-family: 'Poppins', sans-serif;
  src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

/*------------
Styling
------------*/
#mainHeader .navbar {
  margin-bottom: 0;
}

#mainHeader .navbar .navbarBack {
  display: none;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu {
  max-height: 350px;
  overflow-y: scroll;
}

.mainContent {
  /*------------
    Reset tabs menu
    ------------*/
  /*------------
    End Reset tabs menu
    ------------*/
}

.mainContent .notice {
  background: #a2a846;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.25);
  margin-bottom: 1.5rem;
}

.mainContent .notice p {
  color: #fff;
  font-weight: 500;
}

.mainContent .nav {
  flex-wrap: nowrap;
}

.mainContent .nav-tabs .nav-link {
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
  color: #000000;
  font-weight: 400;
}

.mainContent .nav-tabs .nav-link::before {
  display: none;
}

.mainContent .nav-tabs .nav-link.active {
  background: none;
  border: none;
}

.mainContent .userTabsMenu .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.mainContent .userTabsMenu .nav-link .iconMenu {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: .3rem;
}

.mainContent .userTabsMenu .nav-link .iconMenu svg {
  width: 100%;
  fill: #08850D;
}

.mainContent .userTabsMenu .nav-link.active .iconMenu {
  background: #526D4C;
}

.mainContent .userTabsMenu .nav-link.active .iconMenu svg {
  fill: #fff;
}

.mainContent .userTabsContent .dataWrapper {
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.mainContent .userTabsContent .dataWrapper .wrapperTableInfoData .table {
  margin-bottom: 0;
}

.mainContent .userTabsContent .actionButton {
  margin: 1rem 0;
}

.mainContent .userTabsContent .actionButton .editBtn {
  font-size: 14px;
}

.mainContent .userTabsContent #tabungan-tabs-menu .dataWrapper .wrapperTableInfoData table tbody tr td {
  width: 50%;
}

.mainContent .userTabsContent #tabungan-tabs-menu .dataWrapper .wrapperTableInfoData .notice {
  margin-top: 1rem;
}

.accordion-button:not(.collapsed){
    color: #3E3C3C;
    background-color: #C4C4C4;
}

.accordion-button:focus{
    border-color: #3E3C3C;
    box-shadow: none;
}

.accordion-button{
    background-color: #C4C4C4;
    font-size: 14px;
    font-weight: 450;
    height: 40px;
}

.accordion-button:not(.collapsed)::after{
  background-image: url('../../../assets/img/right-chevron.svg');
}

@media screen and (min-width: 0px) {
  .mainContent {
    margin-bottom: 3rem;
  }
  .mainContent .nameContent {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .mainContent .notice {
    padding: 1rem;
  }
  .mainContent .notice p {
    font-size: 14px;
  }
  .mainContent .userTabsMenu {
    margin-bottom: 1.5rem;
  }
  .mainContent .userTabsMenu .nav-link {
    margin: 0 .3rem;
  }
  .mainContent .userTabsMenu .nav-link .iconMenu {
    padding: .8rem;
  }
  .mainContent .userTabsMenu .nav-link .nameMenu {
    font-size: 9px;
  }
  .mainContent .userTabsContent .dataWrapper {
    padding: 1rem;
  }

  .imgProfil img{
      width: 50%;
      border-radius: 50%;
      margin-bottom: 1rem;
  }

  td{
      font-size: 12px;
  }
}

@media screen and (min-width: 375px) {
  .mainContent .userTabsMenu .nav-link .iconMenu svg {
    min-width: 25px;
    min-height: 25px;
  }
  .mainContent .userTabsMenu .nav-link .nameMenu {
    font-size: 10px;
  }
}

@media screen and (min-width: 992px) {
  .tab-content .tab-pane .dataWrapper .imgProfil img {
    max-width: 120px;
    max-height: 120px;
  }
}
