/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
    font-family: steelfish;
    src: url(../assets/font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*,
::after,
::before,
h1,
h2,
p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

/*------------
Variables
------------*/
/*------------
Styling
------------*/
.onScrolled {
    position: fixed;
    top: 0;
}

#mainHeader {
    background: linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
}

#mainHeader .navbar {
    flex-wrap: nowrap;
}

#mainHeader .navbar .container-fluid .navbar-brand {
    display: flex;
    align-items: center;
    transition: .5s;
}

#mainHeader .navbar .container-fluid .navbar-brand img {
    transition: .5s;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    color: #fff;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
    font-family: steelfish;
}

#mainHeader .navbar .container-fluid .userControl {
    display: flex;
    align-items: center;
    transition: .5s;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .btnNotification {
    display: flex;
    align-items: center;
    border: none;
    position: relative;
    background: transparent;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .btnNotification .numberNotif {
    position: absolute;
    background: red;
    font-weight: 500;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu {
    top: 30px;
    padding: 1rem 0;
    border: 0;
    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
    min-width: 275px;

}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item {
    display: flex;
    align-items: center;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage {
    background: #f0f7ff;
    display: flex;
    align-items: center;
    padding: .5rem .5rem;
    border-radius: 6px;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage ion-icon {
    margin: 0;
    color: #7e97ae;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName h1 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageContent p {
    font-family: 'Poppins', sans-serif;
    white-space: pre-wrap;
    color: #4a5157;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .messageTime {
    display: flex;
    justify-content: flex-end;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .messageTime span {
    font-size: 12px;
}

#mainHeader .navbar .container-fluid .userControl ion-icon {
    color: #fff;
}

#mainHeader .navbar .container-fluid .userControl .profil {
    margin: 0 .8rem;
}

#mainHeader .navbar .container-fluid .userControl .profil .dropdown-toggle {
    background: none;
    border: none;
}

#mainHeader .navbar .container-fluid .userControl .profil .dropdown-toggle::after {
    display: none;
}

#mainHeader .navbar .container-fluid .userControl .profil .dropdown-toggle img {
    max-width: 32px;
    border-radius: 50%;
}

#mainHeader .navbar .container-fluid .userControl .profil .dropdown-menu {
    left: -110px;
    top: 40px;
    border-radius: 8px;
    box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
}

#mainHeader .navbar .container-fluid .userControl .profil .dropdown-menu .dropdown-item {
    font-size: 12px;
    font-weight: 500;
}

#mainHeader .wrapperMainMenu {
    display: flex;
    align-items: stretch;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#mainHeader .wrapperMainMenu .slick-list {
    width: 100%;
}

#mainHeader .wrapperMainMenu .slick-list .slick-track {
    display: flex;
    align-items: center;
}

#mainHeader .wrapperMainMenu .menu {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #3B4E63;
    font-weight: 600;
    position: relative;
}

#mainHeader .wrapperMainMenu .menu:hover::before {
    width: 100%;
    transition: .3s ease;
}

#mainHeader .wrapperMainMenu .menu::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 5px;
    left: 0;
    bottom: -2px;
    display: block;
    background-color: #3C543C;
    transition: .3s ease;
}

#mainHeader .wrapperMainMenu .menu.active {
    color: #3E3E3E;
}

#mainHeader .wrapperMainMenu .menu.active::before {
    width: 100%;
    transition: .3s ease;
}

@media screen and (min-width: 0px) {
    #mainHeader {
        height: 166px;
        padding-top: 0;
    }

    #mainHeader .navbar {
        margin-bottom: 1rem;
    }

    #mainHeader .navbar .container-fluid .navbar-brand img {
        max-width: 55px;
    }

    #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
        margin-left: 0px;
    }

    #mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
        font-size: 26px;
        letter-spacing: 3px;
    }

    #mainHeader .navbar .container-fluid .userControl .notification .dropdown .btnNotification .numberNotif {
        right: 1px;
        top: -10px;
        padding: 3px 8px;
        font-size: 12px;
    }

    #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu {
        left: -165px;
    }

    #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item {
        margin: .5rem 0;
        flex-direction: column;
        align-items: flex-start;
    }

    #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage {
        margin-bottom: .5rem;
    }

    #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage ion-icon {
        margin: 0;
        color: #7e97ae;
    }

    #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage {
        margin-bottom: .3rem;
    }

    #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName {
        margin-bottom: .3rem;
    }

    #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName h1 {
        font-size: 14px;
    }

    #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageContent p {
        font-size: 12px;
    }

    #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .messageTime span {
        font-size: 12px;
    }

    #mainHeader .navbar .container-fluid .userControl ion-icon {
        margin: 0 .5rem;
        font-size: 24px;
    }

    #mainHeader .wrapperMainMenu {
        padding: .5rem .3rem;
    }

    #mainHeader .wrapperMainMenu .menu {
        width: 100%;
        font-size: 10px;
        padding: .8rem .3rem;
    }
}
