@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap");
.name {
  margin-bottom: 2rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.wrapperTable {
  width: 80%;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  padding: 3rem;
  border-radius: 20px;
}

.wrapperTable .table {
  margin-bottom: 0;
}

.wrapperTable table {
  font-family: 'Poppins', sans-serif;
}

.wrapperTable table thead {
  background: #7334FF;
  color: #fff;
}

.wrapperTable table thead tr th:first-child {
  border-radius: 6px 0 0px 6px;
}

.wrapperTable table thead tr th:last-child {
  border-radius: 0px 6px 6px 0px;
}

.wrapperTable table tbody {
  background: #fff;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2F5D62;
}
