/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: steelfish;
  src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

/*------------
Variables
------------*/
/*------------
Reusable
------------*/
.nameTable {
  font-size: 24px;
}

.nameContentMenu {
  color: #3B4E63;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 24px;
}

.fullWidth {
  width: 100%;
}

.nameCard {
  color: #3B4E63;
  font-weight: 500;
}

.labelNameCard {
  font-weight: 400;
  color: #3B4E63;
}

.valueOfCard {
  font-weight: 700;
  color: #3B4E63;
}

.colorText {
  color: #3B4E63;
}

.nameHightCard {
  font-weight: 700;
  color: #3B4E63;
}

.valueChart {
  font-weight: 700;
}

body {
  transition: 1s;
}

/*------------
Styling
------------*/
#mainHeader .navbar {
  margin-bottom: 2rem;
  z-index: 1;
}

#mainHeader .wrapperMenuToApps {
  display: flex;
  align-content: center;
  justify-content: center;
  z-index: 100;
  transition: .3s;
  width: 100%;
}

#mainHeader .wrapperMenuToApps .menu {
  text-align: center;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  border-radius: 10px;
  text-decoration: none;
  background: #fff;
  transition: .3s;
}

#mainHeader .wrapperMenuToApps .menu:hover {
  transition: .3s;
}

#mainHeader .wrapperMenuToApps .menu:hover .nameMenu {
  color: #000;
}

#mainHeader .wrapperMenuToApps .menu:not(:last-child) {
  margin-right: 1rem;
}

#mainHeader .wrapperMenuToApps .menu .icon {
  margin-bottom: 8px;
}

#mainHeader .wrapperMenuToApps .menu .icon img {
  max-height: 30px;
  max-width: 30px;
}

#mainHeader .wrapperMenuToApps .menu .nameMenu {
  color: #000;
  font-weight: 500;
}

.mainContent {
  margin-top: -50px;
}

.mainContent .container-fluid .headerMainMenu {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit {
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 2rem;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic {
  display: flex;
  align-items: center;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperLabel .label {
  color: #3B4E63;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu {
  display: flex;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .icon {
  margin-bottom: 1rem;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .nameAndValue, .mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .currencyAndRate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .nameAndValue {
  margin-bottom: .3rem;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .nameAndValue .nameCard {
  font-weight: 700;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .nameAndValue .valueCard {
  font-weight: 500;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .currencyAndRate .currency {
  font-weight: 500;
}

.mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .currencyAndRate .rateVelue {
  color: #32B404;
  font-weight: 500;
}

.mainContent .container-fluid .wrapperContentAllMenu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan {
  display: flex;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan {
  background: #fff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .infoStatistic {
  width: 100%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .infoStatistic .nameCard {
  margin-bottom: .3rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .infoStatistic .labelNameCard {
  margin-bottom: 1rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .wrapperChart {
  display: flex;
  width: 50%;
  justify-content: center;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .wrapperChart .chartKecil {
  max-width: 180px;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .wrapperArrow {
  position: absolute;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi {
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  margin-bottom: 1.5rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .nameHightCard {
  margin-bottom: 1rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard {
  display: flex;
  align-items: center;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperChart {
  width: 60%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel {
  width: 40%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .label {
  position: relative;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .label .nameLabel {
  font-weight: 700;
  margin-bottom: .5rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .label::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  position: absolute;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .jumlahDanaAlokasi::before {
  background: #7334FF;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .alokasiTerelalisasi::before {
  background: #FF832B;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran {
  display: flex;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran {
  background: #fff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .infoStatistic {
  width: 100%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .infoStatistic .nameCard {
  margin-bottom: .3rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .infoStatistic .labelNameCard {
  margin-bottom: 1rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .wrapperChart {
  display: flex;
  width: 50%;
  justify-content: center;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .wrapperChart .chartKecil {
  max-width: 180px;
}

.mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .wrapperArrow {
  position: absolute;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .headerCardDebitur .wrapperArrow {
  position: absolute;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .contentDebitur {
  width: 100%;
  display: flex;
  align-items: center;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .contentDebitur .wrapperChart {
  width: 50%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .contentDebitur .wrapperLabel {
  width: 50%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap {
  background: #fff;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .infoStatistic {
  width: 100%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .infoStatistic .nameCard {
  margin-bottom: .3rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .infoStatistic .labelNameCard {
  margin-bottom: 1rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .wrapperChart {
  display: flex;
  width: 50%;
  justify-content: center;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .wrapperArrow {
  position: absolute;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur {
  position: relative;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .headerCardDebitur .wrapperArrow {
  position: absolute;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .contentDebitur {
  width: 100%;
  display: flex;
  align-items: center;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .contentDebitur .wrapperChart {
  width: 50%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .contentDebitur .wrapperLabel {
  width: 50%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga {
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  margin-bottom: 1.5rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .nameHightCard {
  margin-bottom: 1rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard {
  display: flex;
  align-items: center;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperChart {
  width: 60%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel {
  width: 40%;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .label {
  position: relative;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .label .nameLabel {
  font-weight: 700;
  margin-bottom: .5rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .label::before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  position: absolute;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .jumlahDanaAlokasi::before {
  background: #7334FF;
}

.mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .alokasiTerelalisasi::before {
  background: #FF832B;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting {
  position: relative;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperTable {
  margin-bottom: 1.5rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperTable .nameTable {
  font-weight: 700;
  color: #3B4E63;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperTable table {
  text-align: center;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperTable table thead tr th:first-child {
  border-radius: 6px 0 0px 6px;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperTable table thead tr th:last-child {
  border-radius: 0px 6px 6px 0px;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperTable .saldoAkun .headTable, .mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperTable .hutangPerAkun .headTable {
  background: #FF832A;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperTable .saldoAkunDuo .headTable {
  background: #A2A846;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperTable .piutangPerAkun .headTable {
  background: #7334FF;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperChartLabaRugi {
  bacbackground: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 2rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperChartLabaRugi .nameTable {
  font-weight: 700;
  color: #3B4E63;
}

.mainContent .container-fluid .wrapperContentAllMenu .eTWP .wrapperTable {
  margin-bottom: 1.5rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eTWP .wrapperTable .nameTable {
  font-weight: 700;
  color: #3B4E63;
}

.mainContent .container-fluid .wrapperContentAllMenu .eTWP .wrapperTable table {
  text-align: center;
}

.mainContent .container-fluid .wrapperContentAllMenu .eTWP .wrapperTable table thead tr th:first-child {
  border-radius: 6px 0 0px 6px;
}

.mainContent .container-fluid .wrapperContentAllMenu .eTWP .wrapperTable table thead tr th:last-child {
  border-radius: 0px 6px 6px 0px;
}

.mainContent .container-fluid .wrapperContentAllMenu .eTWP .wrapperTable .iuranTWP .headTable {
  background: #FF832B;
}

.mainContent .container-fluid .wrapperContentAllMenu .eTWP .wrapperTable .dataPensiun .headTable {
  background: #A2A846;
}

.mainContent .container-fluid .wrapperContentAllMenu .eTWP .wrapperTable .rekapTabungan .headTable {
  background: #7334FF;
}

.mainContent .container-fluid .wrapperContentAllMenu .eTWP .wrapperChartHistoriData {
  bacbackground: #FFFFFF;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 2rem;
}

.mainContent .container-fluid .wrapperContentAllMenu .eTWP .wrapperChartHistoriData .nameTable {
  font-weight: 700;
  font-size: 24px;
  color: #3B4E63;
  margin-bottom: 1rem;
}

@media screen and (min-width: 0px) {
  #mainHeader {
    height: 450px;
  }
  .mainContent .container-fluid .headerMainMenu {
    flex-direction: column;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit {
    padding: 2rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperChartPrajurit {
    width: 60%;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperChartPrajurit canvas {
    max-width: 500px;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperLabel {
    width: 40%;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperLabel .label {
    color: #3B4E63;
    position: relative;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperLabel .label:not(:last-child) {
    margin-bottom: 1rem;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperLabel .label::before {
    content: '';
    height: 15px;
    width: 15px;
    display: inline-block;
    position: absolute;
    background: red;
    top: 40%;
    left: -25px;
    border-radius: 50%;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperLabel .label .nameLabel {
    font-size: 18px;
    font-weight: 600;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperLabel .label .valueLabel {
    font-size: 18px;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperLabel .prajuritAktif::before {
    background: #A2A846;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticPrajurit .wrapperContentStatistic .wrapperLabel .prajuritPensiun::before {
    background: #587350;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu {
    width: 100%;
    display: flex;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu:not(:last-child) {
    margin-right: .8rem;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .icon img {
    max-width: 40px;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .nameAndValue .nameCard {
    font-size: 22px;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .nameAndValue .valueCard {
    font-size: 18px;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .currencyAndRate .currency {
    font-size: 16px;
  }
  .mainContent .container-fluid .headerMainMenu .wrapperStatisticMenu .wrapperMenu .menu .infoStatistic .currencyAndRate .rateVelue {
    font-size: 16px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .contentMenu {
    width: 100%;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan {
    margin-bottom: 1.5rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan {
    padding: 1.5rem 1rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan:not(:last-child) {
    margin-right: 1rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .infoStatistic .nameCard {
    font-size: 15px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .infoStatistic .labelNameCard {
    font-size: 14px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .infoStatistic .valueOfCard {
    font-size: 18px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .wrapperArrow {
    right: 15px;
    top: 10px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPengajuan .cardPengajuan .wrapperArrow img {
    max-width: 15px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi {
    padding: 2rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .nameHightCard {
    font-size: 24px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard {
    align-items: center;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperChart {
    width: 60%;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperChart canvas {
    max-width: 500px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel {
    width: 40%;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .label {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .label .nameLabel {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: .5rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .label .valueChart {
    font-size: 16px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .label::before {
    height: 20px;
    width: 20px;
    left: -20px;
    top: 50%;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .jumlahDanaAlokasi::before {
    background: #7334FF;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardDanaAlokasi .wrapperContentCard .wrapperLabel .alokasiTerelalisasi::before {
    background: #FF832B;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran {
    margin-bottom: 1.5rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran {
    padding: 1.5rem 1rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran:not(:last-child) {
    margin-right: 1rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .infoStatistic .nameCard {
    font-size: 15px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .infoStatistic .labelNameCard {
    font-size: 14px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .infoStatistic .valueOfCard {
    font-size: 18px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .wrapperArrow {
    right: 15px;
    top: 10px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eBaltab .wrapperCardPenyaluran .cardPenyaluran .wrapperArrow img {
    max-width: 15px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur {
    justify-content: center;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur {
    padding: 1rem;
    margin: .5rem;
    width: 47%;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .headerCardDebitur {
    margin-bottom: 1rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .headerCardDebitur .nameCard {
    font-size: 14px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .headerCardDebitur .wrapperArrow {
    right: 15px;
    top: 10px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .headerCardDebitur .wrapperArrow img {
    max-width: 15px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .contentDebitur .wrapperChart {
    max-width: 180px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .contentDebitur .wrapperLabel .valueChart {
    font-size: 18px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperDebitur .debitur .contentDebitur .wrapperLabel .date {
    font-size: 14px;
    font-weight: 500;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData {
    width: 100%;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap {
    padding: 1.5rem 1rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap:not(:last-child) {
    margin-right: 1rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .infoStatistic .nameCard {
    font-size: 15px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .infoStatistic .labelNameCard {
    font-size: 14px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .infoStatistic .valueOfCard {
    font-size: 18px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .wrapperChart canvas {
    max-width: 180px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .wrapperArrow {
    right: 15px;
    top: 10px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperRekapData .cardRekap .wrapperArrow img {
    max-width: 15px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur {
    padding: 1rem;
    margin: .5rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .headerCardDebitur {
    margin-bottom: 1rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .headerCardDebitur .nameCard {
    font-size: 14px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .headerCardDebitur .wrapperArrow {
    right: 15px;
    top: 10px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .headerCardDebitur .wrapperArrow img {
    max-width: 15px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .contentDebitur .wrapperChart {
    max-width: 180px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .contentDebitur .wrapperLabel .valueChart {
    font-size: 18px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperStatistic .debitur .contentDebitur .wrapperLabel .date {
    font-size: 14px;
    font-weight: 500;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga {
    padding: 2rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .nameHightCard {
    font-size: 24px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard {
    align-items: center;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperChart {
    width: 60%;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperChart canvas {
    max-width: 500px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel {
    width: 40%;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .label {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .label .nameLabel {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: .5rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .label .valueChart {
    font-size: 16px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .label::before {
    height: 20px;
    width: 20px;
    left: -20px;
    top: 50%;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .jumlahDanaAlokasi::before {
    background: #7334FF;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eKPR .wrapperCardDataPokokDanBunga .wrapperContentCard .wrapperLabel .alokasiTerelalisasi::before {
    background: #FF832B;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperTable .nameTable {
    font-weight: 700;
    color: #3B4E63;
    font-size: 24px;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperChartLabaRugi {
    bacbackground: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    padding: 2rem;
  }
  .mainContent .container-fluid .wrapperContentAllMenu .eAkunting .wrapperChartLabaRugi .nameTable {
    font-size: 24px;
    margin-bottom: 1rem;
  }
}
