/*------------
Font
------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: steelfish;
  src: url(../font/stelfish.ttf);
}

/*------------
Resset Css
------------*/
*, ::after, ::before, h1, h2, p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

/*------------
Variables
------------*/
/*------------
Styling
------------*/
.onScrolled {
  position: fixed;
  top: 0;
}

#mainHeader {
  background: linear-gradient(125.6deg, #3B533B 11.29%, #97BB7D 108.94%);
  padding-top: 1rem;
}

#mainHeader .navbar .container-fluid .navbar-brand {
  display: flex;
  align-items: center;
  transition: .5s;
}

#mainHeader .navbar .container-fluid .navbar-brand img {
  transition: .5s;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title {
  color: #fff;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
  font-family: steelfish;
}

#mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
  font-size: 12px;
  letter-spacing: .8px;
  font-weight: 500;
}

#mainHeader .navbar .container-fluid .userControl {
  display: flex;
  align-items: center;
  transition: .5s;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .btnNotification {
  display: flex;
  align-items: center;
  border: none;
  position: relative;
  background: transparent;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .btnNotification .numberNotif {
  position: absolute;
  background: red;
  font-weight: 500;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu {
  top: 30px;
  padding: 1rem 0;
  border: 0;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item {
  display: flex;
  align-items: center;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage {
  background: #f0f7ff;
  display: flex;
  align-items: center;
  padding: .5rem .5rem;
  border-radius: 6px;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage ion-icon {
  margin: 0;
  color: #7e97ae;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName h1 {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageContent p {
  font-family: 'Poppins', sans-serif;
  white-space: pre-wrap;
  color: #4a5157;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .messageTime {
  display: flex;
  justify-content: flex-end;
}

#mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .messageTime span {
  font-size: 12px;
}

#mainHeader .navbar .container-fluid .userControl .searchBox {
  display: flex;
  align-items: center;
  background: transparent;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchIcon {
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
  border: none;
  width: 0px;
  transition: .5s;
  background: transparent;
  color: #fff;
  font-weight: 500;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
  color: #fff;
}

#mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
  width: 200px;
  transition: width .5s;
  border-bottom: 2px solid #fff;
}

#mainHeader .navbar .container-fluid .userControl ion-icon {
  color: #fff;
}

#mainHeader .navbar .container-fluid .userControl .profil {
  margin: 0 .8rem;
}

#mainHeader .navbar .container-fluid .userControl .profil .dropdown-toggle {
  background: none;
  border: none;
}

#mainHeader .navbar .container-fluid .userControl .profil .dropdown-toggle::after {
  display: none;
}

#mainHeader .navbar .container-fluid .userControl .profil .dropdown-toggle img {
  max-width: 40px;
  border-radius: 50%;
}

#mainHeader .navbar .container-fluid .userControl .profil .dropdown-menu {
  left: -110px;
  border-radius: 8px;
  box-shadow: 0px 11px 11px rgba(0, 0, 0, 0.1);
}

#mainHeader .navbar .container-fluid .userControl .profil .dropdown-menu .dropdown-item {
  font-size: 14px;
  font-weight: 500;
}

.pembungkus {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 10;
  transition: 1s;
}

.pembungkus .menu {
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.pembungkus .menu .nav-link {
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-weight: 500;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  background: #fff;
}

.pembungkus .menu .nav-link svg {
  fill: #08850D;
}

.pembungkus .menu .nav-link p {
  color: #3B4E63;
  text-align: center;
}

.pembungkus .menu .active {
  color: #3B4E63;
  background: #3C543C;
}

.pembungkus .menu .active svg {
  fill: #fff;
}

.pembungkus .menu .active p {
  color: #fff;
}

@media screen and (min-width: 0px) {
  #mainHeader .navbar {
    margin-bottom: 2rem;
  }
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 70px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 0px;
    display: none;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .btnNotification .numberNotif {
    right: 1px;
    top: -10px;
    padding: 3px 8px;
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu {
    left: -120px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item {
    margin: .5rem 0;
    flex-direction: column;
    align-items: flex-start;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage {
    margin-bottom: .5rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage ion-icon {
    margin: 0;
    color: #7e97ae;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage {
    margin-bottom: .3rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName {
    margin-bottom: .3rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName h1 {
    font-size: 14px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageContent p {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .messageTime span {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
    width: 50px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 .5rem;
    font-size: 26px;
  }
  .pembungkus {
    width: 100%;
    padding: 1rem 0;
  }
  .pembungkus .menu {
    justify-content: center;
  }
  .pembungkus .menu .nav-link {
    flex-direction: column;
    display: flex;
    margin: .5rem .5rem;
    padding: .5rem 1rem;
    border-radius: 10px;
  }
  .pembungkus .menu .nav-link svg {
    max-width: 25px;
  }
  .pembungkus .menu .nav-link p {
    font-size: 10px;
    display: none;
  }
  .pembungkus .menu .active {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 80px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 4px;
    display: block;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
    margin-bottom: 4px;
    letter-spacing: 10px;
    font-size: 56px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
    font-size: 9px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
    width: 150px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 .8rem;
  }
}

@media screen and (min-width: 992px) {
  #mainHeader .navbar {
    padding: 0 3rem;
  }
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 100px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 4px;
    display: block;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
    margin-bottom: 4px;
    font-size: 72px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
    font-size: 10px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu {
    left: -360px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item {
    margin: .8rem 0;
    flex-direction: row;
    align-items: center;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage {
    margin-bottom: 0;
    margin-right: .8rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage ion-icon {
    font-size: 18px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage {
    margin-bottom: 0;
    margin-right: .8rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName {
    margin-bottom: .3rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName h1 {
    font-size: 14px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageContent p {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .messageTime span {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 .8rem;
  }
  .pembungkus .menu {
    justify-content: center;
  }
  .pembungkus .menu .nav-link {
    flex-direction: row;
    padding: .5rem 1rem;
  }
  .pembungkus .menu .nav-link svg {
    margin-right: .5rem;
  }
  .pembungkus .menu .nav-link p {
    font-size: 12px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  #mainHeader .navbar .container-fluid .navbar-brand img {
    max-width: 120px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title {
    margin-left: 8px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title h1 {
    font-size: 86px;
    letter-spacing: 11px;
  }
  #mainHeader .navbar .container-fluid .navbar-brand .brand-title p {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .btnNotification .numberNotif {
    right: 5px;
    top: -10px;
    padding: 3px 8px;
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu {
    left: -360px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item {
    margin: .8rem 0;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage ion-icon {
    font-size: 18px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage {
    margin-bottom: 0;
    margin-right: .8rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName {
    margin-bottom: .3rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName h1 {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageContent p {
    font-size: 12px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput::placeholder {
    font-size: 16px;
  }
  #mainHeader .navbar .container-fluid .userControl .searchBox .searchInput.active {
    width: 200px;
  }
  #mainHeader .navbar .container-fluid .userControl ion-icon {
    margin: 0 1rem;
  }
  .pembungkus .backToHome img {
    max-width: 30px;
  }
  .pembungkus .menu {
    width: 100%;
  }
  .pembungkus .menu .nav-link {
    justify-content: center;
    flex-direction: row;
    margin: .8rem .8rem;
    padding: .5rem 1.5rem;
    width: 15.1%;
  }
  .pembungkus .menu .nav-link svg {
    max-width: 30px;
  }
  .pembungkus .menu .nav-link p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu {
    left: -480px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item {
    margin: 1rem 0;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage {
    margin-right: 1rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .iconMassage ion-icon {
    font-size: 20px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage {
    margin-bottom: 0;
    margin-right: .8rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName {
    margin-bottom: .3rem;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageName h1 {
    font-size: 18px;
  }
  #mainHeader .navbar .container-fluid .userControl .notification .dropdown .dropdown-menu li .dropdown-item .wrapperMessage .messageContent p {
    font-size: 14px;
  }
}
